<html><head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <title>retrieve</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }
    </style>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script></head>
<body bgcolor="skyblue">
     <ul>
        <li><a class="active" href="insert.html">create</a></li>
        </div>
        <li><a href="retrieve.html">Retrieve</a></li>
        <li><a href="update.html">update</a></li>
        <li><a href="delete.html">Delete</a></li>
        <li><a href="deleteselected.html">Delete Selected</a></li>
    </ul><br><br><br><br><br><br><br><br>

    <br><br><br><br>
    <div align="center"  ng-app="myApp" ng-controller="ctrl">
        <div style="width:500px; border: solid 1px #333333; " align="left">
            <div style="background-color:#333333; color:#FFFFFF; padding:3px;"><b>Enter Book details</b></div>

            <div style="margin:30px">

                <form>
                    <label>BookId  &nbsp;&emsp;&emsp;&emsp;:</label><input ng-model="BookId" class="box" /><br /><br />
                    <label>BookName &nbsp;&nbsp;&emsp;:</label><input ng-model="BookName" class="box" /><br/><br />
                    <label>Cost &nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;:</label><input ng-model="Cost" class="box" /><br /><br />
                    <label>Author &nbsp;&nbsp;&nbsp;&emsp;&emsp; :</label><input ng-model="Author" class="box" /><br/><br />
                    <label>Publications  &emsp;:</label><input ng-model="publications" class="box" /><br/><br />
                    <center><input type="button" value="OK" ng-click="myFunc()"/></center>
                </form>


                <p>{{ bnames }}</p>
            </div>

        </div>

    </div>


    <script>
                          var app = angular.module('myApp', []);
                          app.controller('ctrl', function ($scope, $http) {
                              $scope.myFunc = function() {
                                  alert("Do you want to insert ?");
                          var BookId=$scope.BookId;
                          var BookName=$scope.BookName;
                          var Cost=$scope.Cost;
                          var Author=$scope.Author;
                          var Publications=$scope.publications;
                              var req = {
                                  method: 'POST',
                                  url: 'http://localhost:3000/data',
                   headers: { 'Content-Type': 'Application/json' },
                   data: {
                          Bid: BookId,
                          Bname: BookName,
                          Cost:Cost,
                          Author:Author,
                          Publications:Publications
	    }
                       }

                                  $http(req)
                          .then(function (response) {
                          $scope.bnames = response.data;
                                      alert($scope.bnames);
                         });
                                  };

                  });
        </script>

            </body>
                </html>
